<section class="hero">
    <img src="/images/site/own_today.png" alt="Own Today" class="hero-img">
    <h2>Your dream car is waiting</h2>
    <p>Browse our selection of vehicles and upgrades.</p>
</section>
<section class="featured-vehicles">
    <h3>Featured Vehicles</h3>
    <div class="vehicle-list">
        <img src="/images/vehicles/delorean-tn.jpg" alt="Delorean">
        <img src="/images/vehicles/batmobile-tn.jpg" alt="Batmobile">
        <img src="/images/vehicles/aerocar-tn.jpg" alt="Aerocar">
    </div>
</section>
<section class="upgrades">
    <h3>Upgrades</h3>
    <div class="upgrade-list">
        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
        <img src="/images/upgrades/flame.jpg" alt="Flame Decal">
        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
    </div>
</section>