
<main>
    <h1 style="width:100%;text-align: center;"><%= title %></h1>

    <%- messages() %>

    <form action="/inv/add-classification" method="post" id="addClassificationForm">
        <label for="classification_name">Classification Name:</label><br>
        <input type="text" id="classification_name" name="classification_name" required><br>
        <p>Classification names cannot contain spaces or special characters.</p><br>

        <input type="submit" value="Add Classification">
    </form>
</main>


<script>
    document.getElementById('addClassificationForm').addEventListener('submit', function(event) {
        const classificationName = document.getElementById('classification_name').value;
        if (/[^a-zA-Z0-9]/.test(classificationName)) {
            alert('Classification name cannot contain spaces or special characters.');
            event.preventDefault();
        }
    });
</script>
