
<main>
    <h1>Inventory Management</h1>

    <%- messages() %>

    <p><a href="/inv/add-classification">Add New Classification</a></p>
    <p><a href="/inv/add-inventory">Add New Inventory Item</a></p>
</main>
